@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .customBorder {
    @apply border-l-[10px] border-secondary rounded-tl-[20px];
  }
}

.slick-slide > div {
  padding: 0px 20px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.slick-center .object-contain {
  transform: scale(1.2);
  transition: transform 0.5s ease;
}
