@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
  padding: 0px 20px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* .columGap {
  column-gap: 10px;
} */

/* .imageWrapper {
  margin: 0 10px;
  transition: transform 0.5s ease;
}

.slick-center .imageWrapper {
  transform: scale(1.1);
}

.image {
  transition: transform 0.5s ease;
} */
