@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .customBorder {
    @apply border-l-[10px] border-secondary rounded-tl-[20px];
  }
}

.slick-slide > div {
  padding: 0px 20px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.slick-center .object-contain {
  transform: scale(1.2);
  transition: transform 0.5s ease;
}

/* Custom scrollbar */

.custom_scroll::-webkit-scrollbar {
  height: 10px;
  border-radius: 15px;
}

.custom_scroll::-webkit-scrollbar-track {
  background: #314a75;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  cursor: pointer;
}

.custom_scroll::-webkit-scrollbar-thumb {
  background: #f4c400;
  border-radius: 5px;
  cursor: pointer;
}
